.OTP_main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.otp_Link{
    color:#e75a16;
    font-size: small;
}
.otp_link:hover{
    cursor: pointer;
}
.Get_OTP_Btn{
    height: 3.5em;
    background-color:#e75a16; 
    color: white;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    font-size: .813rem;
    letter-spacing: 1px;
    border: 0;
    margin: 1em;
    margin-left: 0;
}
.Get_OTP_Btn:hover{
    cursor: pointer;
}
.continue_with{
    margin: 1em;
    margin-left: 2em;
}
.register_Button{
   
    height: 3.5em;
    background-color: white; 
    color: #e75a16;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    font-size: .813rem;
    letter-spacing: 1px;
    border: 1px solid #e75a16;
    border-radius: 2px;
    margin: 1em;
    

}
.otp_form{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    
}
.social_img{
    margin-right: 1em;
    margin-top: 1em
}
.lowerPart{
    position: fixed;
    bottom: 0;
    margin-bottom: 1em;
    margin-left: 1em;

}