.continueButton{
    background-color: white;
    border: 2px solid orange;
    color: orange;
    padding: .5em 2em .5em;
    font-size: large;
    margin-top: 1em;
    bottom: 1;
    }
.my_cart{
    background-color: white;
    height: 90vh;
}
.empty_cart{
     padding-top: 10em;
     text-align: center;
     margin-left: 25%;
     margin-right: 25%;
    }
.empty_cart_img{
        margin-bottom: 1em;
        height:100%;
        width: 7em;
}
.displayProduct{
    float: right;
    display: flex;
    column-gap: 1em;
    margin-bottom: 1em;
}
.productBox{
    padding: 1em;
}
.cart_product_append{
    padding: 1em;
    display: flex;
}
.payment_Button{
    position: fixed;
    bottom: 0;
    border: 0;
    height: 2em;
    width: 490px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(241,101,33);
    margin-bottom:1em ;
}
.payment_Button:hover{
    cursor: pointer;
}