.mainCartContainer{
    width: 520px;
    float: right;
    background-color: white;
    height:100vh
}
.cartNav{
    background-color:black ;
    color: white;
    padding-left: .5em;
}
.myButton{
    background-color:black;
    color: white;
    border: 0;
    height: 2em;
    margin-top: 1em;
    padding: 1em;
    border-bottom: 1em solid black;
    font-weight: 1000;
   word-spacing: 2px;
   letter-spacing: 1px;
}
.myButton:hover{
    background-color: white;
    color: black;
    border-bottom: 1em solid white;
}
.cart_Input{
    height: 2em;
}