
.mainContainer{
    display: flex;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.heading {
    width: 89%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-bottom: 15px;
}

.cardContainer{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 89%;
    margin: auto;
}

.cardContainer img {
    width: 361px;
}



.cardContainer p {
    margin-top: 5px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




/* what's Everyone's Eyeing */

.cardContainer2 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 89%;
    margin: auto;
}

.cardContainer2 img {
    width: 470px;
    height: 500px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    margin: auto;
    cursor: pointer;
}

.grid img {
    width: 255px;
    height: 240px;
    cursor: pointer;
    margin-bottom: 0px !important;
}



.coffee {
    margin-bottom: 0;
    font-size: 18px;
}
.grey{
    color: rgba(0, 0, 0, 0.651);
    margin-top: 0px;
    margin-bottom: 50px;
}

.slider img {
    height: 400px ;
}