.cont {
    display: flex;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px 5px rgb(231, 230, 230);
    width: 600px;
    z-index: 2;
    position: absolute;
    background-color: white;
    top: 60px;
    left: 38%;
}

.rec{
    list-style-type: none;
}
.rec > li{
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}